<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Register the School</h4>
<div class="col-6">
    <form action="#" th:action="@{/schools/update/{id}(id=${id})}" th:object="${school}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" th:field="*{name}" placeholder="Name" id="name">
            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
        </div>
        <div class="form-group">
            <label for="maxNumberOfStudents">Max Number of Students</label>
            <input class="form-control" type="text" th:field="*{maxNumberOfStudents}"
                   placeholder="Max number of students" id="maxNumberOfStudents">
            <span class="text-danger" th:if="${#fields.hasErrors('maxNumberOfStudents')}"
                  th:errors="*{maxNumberOfStudents}">Max Number of Students Error</span>
        </div>
        <div class="form-group">
            <label for="foundationDate">Foundation Date</label>
            <input class="form-control" type="date" th:field="*{foundationDate}" id="foundationDate">
            <span class="text-danger" th:if="${#fields.hasErrors('foundationDate')}"
                  th:errors="*{foundationDate}">Foundation Date Error</span>
        </div>
        <button type="submit" class="btn btn-primary">Update School</button>
    </form>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
